#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT  0
#define NUMF     1
#define NAVMEDIA 2
#define GAMEPAD  3

/ {
	behaviors {
		bht: balanced_hold_tap {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			tapping-term-ms = <200>;    // <---[[moderate duration]]
			quick-tap-ms = <0>;
			flavor = "balanced";
			bindings = <&kp>, <&kp>;
		};
	};
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// | ESC  |  Q   |  W   |  E   |  R   |  T   |                                        |  Y   |  U   |  I   |  O   |  P   |  `~  |
// | ENTR |  A   |  S   |  D   |  F   |  G   |                                        |  H   |  J   |  K   |  L   |  ;   |  '   |
// | TAB  |  Z   |  X   |  C   |  V   |  B   |                                        |  N   |  M   |  ,   |  .   |  /   |  \   |
// | C.LCK| LFT  |  DWN |  UP  | RGHT | h.L1 |SHFT( )|MEH ({)|      |HYP(})|SHFT(BSPC)| h.L2 |  lft |  up  |  dwn | rght |  ins |
//                                                   |ALT ([)|      |ALT(])|
//                                                   |CTRL(()|      |WIN())|
			bindings = <
&kp ESC   &kp Q     &kp W   &kp E     &kp R      &kp T                                                                                             &kp Y          &kp U     &kp I      &kp O     &kp P      &kp GRAVE 
&kp RET   &kp A     &kp S   &kp D     &kp F      &kp G                                                                                             &kp H          &kp J     &kp K      &kp L     &kp SEMI   &kp SQT 
&kp TAB   &kp Z     &kp X   &kp C     &kp V      &kp B                                                                                             &kp N          &kp M     &kp COMMA  &kp DOT   &kp FSLH   &kp BSLH 
&kp CLCK  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &mo NUMF  &bht LSHFT SPACE  &bht LC(LS(LALT)) LBRC    &bht RC(RS(RA(RGUI))) RBRC  &bht RSHFT BSPC  &mo NAVMEDIA   &kp LEFT  &kp UP     &kp DOWN  &kp RIGHT  &kp INS 
                                                                             &mt LALT LBKT             &mt RALT RBKT 
                                                                             &mt LCTRL LPAR            &mt LGUI RPAR
			>;
		};

		num_frow_layer {
// | F1   |  F2  |  F3  |  F4  |  F5  |  F6  |                                  |  F7         |  F8  |  F9  |  F10 |  F11 |  F12 |
// | +=   |  1   |  2   |  3   |  4   |  5   |                                  |  6          |  7   |  8   |  9   |  0   |  -_  |
// | NONE | NONE | NONE | NONE | NONE | NONE |                                  | NONE        | NONE | NONE | NONE | NONE | NONE |
// |BT_CLR| NONE | NONE | NONE | NONE |TRSPRT| NONE | NONE |      | WIN  | DEL  | WIN+SHFT+S  | NONE | NONE | NONE | NONE | NONE |
//                                                  | NONE |      | ALT  |
//                                                  | NONE |      | CTRL |
			bindings = <
&kp F1          &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                                             &kp F7         &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&kp EQUAL       &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                             &kp N6         &kp N7  &kp N8  &kp N9   &kp N0   &kp MINUS
&sys_reset      &none   &none   &none   &none   &none                                              &none          &none   &none   &none    &none    &none 
&bootloader  &bt BT_CLR_ALL   &bt BT_PRV   &bt BT_NXT   &bt BT_CLR   &trans  &none  &none     &kp RGUI  &bht LSHFT DEL  &kp LG(LS(S))  &none   &none   &none    &none    &none 
                                                               &none     &kp RALT 
                                                               &none     &kp RCTRL 
			>;
		};

		nav_media_layer {
// | NONE | NONE | HOME |  UP  |  END | PG.UP|                                  | NONE | VOL+ | BRT+ | NONE | NONE | NONE |
// | NONE | NONE | LEFT | DOWN | RIGHT|PG.DWN|                                  | NONE | VOL- | BRT- | NONE | NONE | NONE |
// | NONE | NONE | NONE | NONE | NONE | NONE |                                  | NONE | MUTE | PSCRN| NONE | NONE | NONE |
// | NONE | NONE | NONE | NONE | NONE | t.L3 | SHFT | SKIP |      | NONE | NONE |TRSPRT| NONE | NONE | NONE | NONE | NONE |
//                                                  | PLAY |      | NONE |
//                                                  | BACK |      | NONE |
			bindings = <
&none  &none  &kp HOME  &kp UP    &kp END    &kp PG_UP                                            &none   &kp C_VOL_UP  &kp C_BRI_UP  &none  &none  &none 
&none  &none  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN                                            &none   &kp C_VOL_DN  &kp C_BRI_DN  &none  &none  &none 
&none  &none  &none     &none     &none      &none                                                &none   &kp C_MUTE    &kp PSCRN     &none  &none  &sys_reset 
&none  &none  &none     &none     &none      &to GAMEPAD  &kp LSHFT  &kp C_NEXT     &none  &none  &trans  &none         &none         &none  &none  &bootloader 
                                                                     &kp C_PP       &none 
                                                                     &kp C_PREV     &none 
			>;
		};

		gamepad_layer {
// | MUTE |  ESC |  Q   |  W   |  E   |  R   |                                  | NONE | NONE | NONE | NONE | NONE | NONE |
// | VOL+ | SHFT |  A   |  S   |  D   |  F   |                                  | NONE | NONE | NONE | NONE | NONE | NONE |
// | VOL- | CTRL |  Z   |  X   |  C   |  V   |                                  | NONE | NONE | NONE | NONE | NONE | NONE |
// | PSCRN| LEFT | DOWN |  UP  | RIGHT| t.L1 | SPACE|  R   |      | NONE | NONE | NONE | NONE | NONE | NONE | NONE | NONE |
//                                                  |  E   |      | NONE |
//                                                  |  Q   |      | NONE |
			bindings = <
&kp C_MUTE    &kp ESC    &kp Q     &kp W   &kp E      &kp R                                           &none  &none  &none  &none  &none  &none 
&kp C_VOL_UP  &kp LSHFT  &kp A     &kp S   &kp D      &kp F                                           &none  &none  &none  &none  &none  &none
&kp C_VOL_DN  &kp LCTRL  &kp Z     &kp X   &kp C      &kp V                                           &none  &none  &none  &none  &none  &none 
&kp PSCRN     &kp LEFT   &kp DOWN  &kp UP  &kp RIGHT  &to DEFAULT  &kp SPACE  &kp R     &none  &none  &none  &none  &none  &none  &none  &none 
                                                                              &kp E     &none 
                                                                              &kp Q     &none 
			>;
		};
	};
};
